<h2>Here's a form to add new Cryptids</h2>

<form action="/cryptids" method="POST">
    <label for="crypt-name">Name:</label>
    <input type="text" name="name" id="crypt-name">

    <label for="crypt-type">Image_URL:</label>
    <input type="text" name="img_url" id="crypt-type">

    <input type="submit" value="Add that CRYP!">
</form>