<h1>Here's all me Dinos</h1>

<ul class="index">
    <% dinos.forEach((dino, index) => {%>
        <li>
            <a href="/dinos/<%= index %>">
                <%= dino.name %>
            </a>
            <form method="POST" action="/dinos/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
        <% }) %>
</ul>